form {
  max-width: 600px;
  margin: 0 auto;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

/* Styles pour les options de réponse */
label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

/* Styles pour le bouton de soumission */
input[type="submit"] {
  background-color: #3ca0e7;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1f70a3;
}